<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blanink">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Required -->
    <uses-permission android:name="com.blanink.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Optional. Required for location feature -->
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Required -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/yun"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FlashActivity"
            android:theme="@style/FlashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.order.LookBrowseOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SeekActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowNoteNotifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.TaskResponseMyTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowProductStepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.TaskResponseProcessQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ComeOrderProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ComeOrderNewAddInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ComeOrderAddProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoOrderPurchase"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoOrderGroupDownOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoOrderSeeRemarks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoOrderAddProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.NextFamilyManageCompanyDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.NextFamilyManageCompanyCredit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.NextFamilyManageCompanySupplierManage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.NextFamilyManageMySupplierSeek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.NextFamilyManageProductDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.NextFamilyManageInviteBcomeSupplier"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.NextAllSupplierSeek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.NextFamilyManageSupplierManageApplyCooperate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.NextFamilyManageSupplierManageApplyDelete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.LastFamilyManageCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.LastFamilyManageNewAddCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.LastFamilyManageCustomerSupplierInvite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.RefuseReason"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.LastFamilyManageCustomerApply"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.LastFamilyManageCustomerApplyDelete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.LastMyCustomerSeek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.LastCustomerDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.LastFamilyNewAddMatche"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.BidApplication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.BidDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.BidAccordWithTender"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.TenderDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.TenderPublish"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.TenderBidQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.TenderBidAccord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.remark.RemarkQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.remark.RemarkComeOder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.remark.RemarkGoOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aftersale.AfterSaleQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aftersale.AfterSaleSeek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdvertiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FlashActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Jpush.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ComeOrderContinueAddProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoOrderNewAddProduct"
            android:screenOrientation="portrait" />
        <!-- 设置环信应用的AppKey -->
        <!--
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1144170109178678#blanink" />
        &lt;!&ndash; 声明SDK所需的service SDK核心功能 &ndash;&gt;
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        &lt;!&ndash; 声明SDK所需的receiver &ndash;&gt;
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            &lt;!&ndash; 可选filter &ndash;&gt;
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.chat.EaseChatActivity" />
        <activity android:name=".activity.chat.EaseConversationListActivity" />
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity" />
        -->
        <activity android:name=".activity.ConsultActivity" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.blanink" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.blanink" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.blanink" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.blanink" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="fc2d806c5f4a412c809f9cb3" />

        <activity
            android:name=".activity.Jpush.RemoveRelationIsAgree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Jpush.ResponseResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aftersale.AfterSaleHandleDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aftersale.AfterSaleDemand"
            android:screenOrientation="portrait" />
        <!-- photoPicker -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.borrowrepay.RePayQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.RePayNotify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.RePayBorrowDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.BorrowingComeOrderQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.BorrowingGoOrderQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.BorrowingComeOrderItemDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.BorrowingGoOrderToBorrow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.BorrowingGoOrderCombinationSendApplication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.BorrowingApplyDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.fincying.FinancingApply"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.my.MyFinancing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.fincying.FinancingManage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.fincying.FinancingMoneyDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.fincying.FinancingDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.fincying.FinancingFindMoney"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.findProject.FindProjectQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.findProject.FindProjectFinancingDemandDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.findProject.FindProjectResonseApply"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.money.MoneyTenderMine"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.money.MoneyTenderApplyDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bank.BankComeOderQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bank.BankLookCompanyDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.ReceivedPayNotifyQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.ReceivedPayHistoryQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.ReceivedPayPlanQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.ReceivedPayHistoryDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.borrowrepay.ReceivedPayPlanDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.TenderModify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.BidDetailChatHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.my.MyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.ProductDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.my.ModifyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.BidSeekTender"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.set.PersonSet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.set.ModifyPsd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.TaskResponseParent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.TaskNotAllocationToResponse"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.MoreResponseNoteActivty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.WorkPlanProcessQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.WorkPlanParent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.WorkPlanToAllocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.WorkPlanAllocationDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.WorkPlanToAllocationHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowUseTheFlow"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.flow.FlowOftenUse"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ComeOrderProductDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notify.NotifyMangeDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.LastDeleteRelationIsAgree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notify.NotifyReplayDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.NextDeleteRelationIsAgree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notify.OtherNotifyDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.CompanyDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.CompanyProductDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.CompanyMore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.ProductMore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.BidMore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.fincying.FincyingMore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notify.NotifySend"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notify.NotifyDraftSend"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lastnext.ReviewDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.OrderSeek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ComeOrderProductDetailTalkNote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.OrderSeekContent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoComeOrderProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoDownOrderProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoOrderGroupDownOrderProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoOrderDownSeek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoOrderDownSeekContent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoDownOrderProductDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoDownOrderProductDetailModifySupplier"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ComeOrderModify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.OrderProductModify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoOrderGroupDownOrderProductModify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoOrderAddProductHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoDownOrderModify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowProductDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowSortCompleted"
            android:screenOrientation="portrait" />

        <receiver android:name=".activity.order.ComeOrder$RefreshBroReceiver">
            <intent-filter>
                <action android:name="com.blanink.REFRESH_DATA" />
            </intent-filter>
        </receiver>
        <receiver android:name=".fragment.GoDownOrderFragment$GoDownRefreshBroReceiver">
            <intent-filter>
                <action android:name="com.blanink.GO_ORDER_REFRESH_DATA" />
            </intent-filter>
        </receiver>
        <receiver android:name=".fragment.GoNotDownOrderFragment$GoFormProReceiver">
            <intent-filter>
                <action android:name="com.blanink.GO_ORDER_FORM_REFRESH_DATA" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.flow.FlowSet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowSortCompletedDetail"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.flow.FlowSortCompletedProductDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.GoComeOrderSeekContent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowSave"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ComeOrderModifyNoModifyCustomer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowModifyFlow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowComments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowSeekProcessDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowSeek"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowSeekContent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.TaskResponseHistoryDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.TaskResponseDeliver"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.task.WorkPlanedFinsihProgressQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowProgress"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowProgressDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowProgressDetailHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowProgressProductDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ReceiveGoods"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ReceiveGoodsProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ReceiveGoodsProductDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ReceiveGoodsToReceive"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ReceiveGoodsProductReceiveQueue"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ReceiveGoodsDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AttachmentDownLoad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AttachmentBrow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.remark.RemarkReview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.ComeOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.flow.FlowSeekProgressDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.remark.RemarkGoOrderReview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.BidManage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bidtender.TenderManage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aftersale.MyAfterSale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aftersale.AfterSaleToHandle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aftersale.AfterSaleDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.aftersale.AfterSaleDemandModify"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.report.SaleAmountAnalysis" />
        <activity android:name=".activity.WorkResponseHistory" />
        <activity android:name=".activity.task.WorkResponseHistoryDetail" />
        <activity android:name=".activity.WorkResponseHistorySeek" />
        <activity android:name=".activity.EaseChat.EaseChatActivity" />
        <activity android:name=".activity.EaseChat.EaseAddContactActivity" />
        <activity android:name=".activity.EaseChat.NewFriendsMsgActivity" />
        <activity android:name=".activity.EaseChat.ForwardMessageActivity" />
        <activity android:name=".activity.EaseChat.PickAtUserActivity" />
        <activity android:name=".activity.EaseChat.GroupSimpleDetailActivity" />
        <activity android:name=".activity.EaseChat.NewGroupActivity" />
        <activity android:name=".activity.EaseChat.GroupPickContactsActivity" />
        <activity android:name=".activity.EaseChat.GroupsActivity" />
        <activity android:name=".activity.EaseChat.PublicGroupsActivity" />
        <activity android:name=".activity.EaseChat.PublicGroupsSeachActivity" />
        <activity android:name=".activity.EaseChat.PickContactNoCheckboxActivity" />
        <activity android:name=".activity.EaseChat.GroupDetailsActivity" />
        <activity android:name=".activity.EaseChat.EditActivity" />
        <activity android:name=".activity.EaseChat.GroupSearchMessageActivity" />
        <activity android:name=".activity.EaseChat.SharedFilesActivity" />
        <activity android:name=".activity.EaseChat.ExitGroupDialog" />
        <activity android:name=".activity.EaseChat.ImageGridActivity" />
        <activity android:name=".activity.EaseChat.RecorderVideoActivity" />
        <activity android:name=".activity.EaseChat.VideoCallActivity" />
        <activity android:name=".activity.EaseChat.CallActivity" />
        <activity android:name=".activity.EaseChat.VoiceCallActivity" />
        <activity android:name=".activity.EaseChat.EaseUserDetailActivity" />
        <activity android:name=".activity.EaseChat.ContextMenuActivity" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 下载文件 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1144170109178678#blanink" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- 添加如下activity定义，用于sdk中间页显示，包含登录、开通云存储等。 -->

        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 添加如下广播接收器，用于接收网络变化刷新SDK网络状态，接收中间页登录成功消息启动其他界面。其中##you_BroadcastReceiver替换为自己代码中定义的BroadcastReceiver -->

        <receiver
            android:name=".receiver.EzBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.videogo.action.OAUTH_SUCCESS_ACTION" />
                <action android:name="com.videogo.action.OAUTH_SUCCESS_ACTION" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ezvideo.AutoWifiConnectingActivity" />
        <activity android:name=".activity.ezvideo.AutoWifiNetConfigActivity" />
        <activity android:name=".activity.ezvideo.CaptureActivity" />
        <activity android:name=".activity.ezvideo.EZCameraListActivity" />
        <activity android:name=".activity.ezvideo.EZRealPlayActivity" />
        <activity android:name=".activity.ezvideo.PlayBackListActivity" />
        <activity android:name=".activity.ezvideo.PreferencesActivity" />
        <activity android:name=".activity.ezvideo.ResetIntroduceActivity" />
        <activity android:name=".activity.ezvideo.RootActivity" />
        <activity android:name=".activity.ezvideo.SeriesNumSearchActivity" />
        <activity android:name=".activity.ezvideo.AutoWifiPrepareStepOneActivity" />
        <activity android:name=".activity.ezvideo.AutoWifiResetActivity" />
        <activity android:name=".activity.report.ReportType" />
        <activity android:name=".activity.report.CostAmountAnalysis" />
        <activity android:name=".activity.report.PayAmountAnalysis" />
        <activity android:name=".activity.stock.StockManage" />
        <activity android:name=".activity.stock.WareHouseAdd" />
        <activity android:name=".activity.stock.OutInStockAdd" />
        <activity android:name=".activity.report.LossAnalysis" />
        <activity android:name=".activity.report.ProfitAnalysis" />
        <activity android:name=".activity.stock.WareHouseModify" />
        <activity android:name=".activity.AdviceResponse" />
        <activity android:name=".activity.AboutUs" />
        <activity android:name=".activity.SysNotify" />

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="eff7fedaf05dc70ed5f5c31559617e7b"></meta-data>

        <activity android:name=".activity.LocationActivity"></activity>
    </application>

</manifest>